<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
<link rel="stylesheet" href="css/styles.css">
    <title>Remove <%=College_name%> Fest</title>
    <nav class="navbar-dark bg-me navbar-expand-sm">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="container">
        <div class="collapse navbar-collapse" id="Navbar">
        <a class="navbar-brand" href="#">KYF</a>
      </div>
    </div>
    </div>
    </nav>

    <header class="jumbotron">
    <div class="container">
      <div class="row row-header">
        <div class="col-12">



          <h2><center>Remove Fest!</center><h2>
          <p>
          </p>
        </div>


      </div>
    </div>
    </header>

    <div class="row">
    <ol class="col-12 breadcrumb home_padding">
          <li class="breadcrumb-item"><a href="#">Admin Home</a></li>
          <li class="breadcrumb-item active">Remove Fest</li>

        </ol>
      </div>
    </head>
      <body>
    <h3 style="text-align: center"><%=College_name%> Fests:</h3>
    <div class = "container">

        <div class="col-12" align ="center">


    <form class="" action="" method="post">
      <% for(i=0;i<All_fest.length;i++){ %>
        <input type="hidden" name="id" value=<%=All_fest[i]._id%>>
        <p><input type="checkbox" name="delete_fest" value=<%=All_fest[i].fest_name%> </input> Fest Name: <%=All_fest[i].fest_name%></p>
        <p>description: <%=All_fest[i].description%></p>
        <% if(All_fest[i].website_link != ""){%>
        <p>Website : <a href="<%=All_fest[i].website_link%>"><%=All_fest[i].website_link%></a></p>
        <%}%>
        <% if(All_fest[i].image != ""){%>
        <p>image : <%=All_fest[i].image%></p>
        <%}%>
        <%}%>
        <p>All Selected Fests will be deleted</p>
        <button type = "action" class = "btn btn-primary">
          Delete
        </button>
      </form><br><br>
          <nav class="navbar-light bgdown navbar-expand">
        <div>
          <div class="container text-center">
            <div class="collapse navbar-collapse navbar-center" id="Navbar">
              <ul class="navbar-nav align">
                <li class="nav-item"><a class="nav-link" href="#">Home&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
              </ul>



            </div>
            <p style="text-align: center">Copyright © 2020 Know Your Fest All rights reserved.
            <p>
          </div>
        </div>
        </nav>
  </body>
</html>
