<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add College</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <p>Enter the name of the college:</p>
      <input type="text" name="name" placeholder="Enter the name of college">
      <br><br>
      <p>Enter the shortname of the college:</p>
      <input type="text" name="short_name" placeholder="Enter the shortname of college">
      <br><br>
      <button type="action">Submit</button>
    </form>
  </body>
</html>
