<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=College_name%>Add fest</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <p>Fest Name: <input type="text" name="fest_name"></p>
      <p>description <input type="text" name="description"></p>
      <p>Website: <input type="text" name="website_link"></p>
      <p>image url: <input type="text" name="image"></p>
      <p>Date: <input type="date" name="date"></p>
      <button type="action">Submit</button>
    </form>
  </body>
</html>
