<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Add notification:</h3>
    <form class="" action="" method="post">
      <input type="text" name="text">
      <br><br>
      <button type="action">Submit</button>
    </form>
  </body>
</html>
