<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=College_name%> fests</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <h1>College Selected: <%=College_name%></h1>
      <button type="action" name="button" value="Modify">Click to Modify</button>
      <button type="action" name="button" value="Delete">Click to Delete</button>
      <button type="action" name="button" value="Add">Click to Add</button>
    </form>
  </body>
</html>
