<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Select the College: </h1>
    <form class="" action="" method="post">
      <% for(i=0;i<all_college.length;i++){%>
        <p><input type="checkbox" name="edit_college" value=<%=all_college[i]._id%> onChange="this.form.submit()"><%=all_college[i].name%></p>
      <%}%>
    </form>
  </body>
</html>
