<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=College_name%></title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css">
  </head>
  <body>
    <h1><%=College_name%> is Selected: </h1>
    <form class="" action="" method="post">
      <h2>Enter Description for homepage: </h2>
      <input type="text" name="description">
      <h2>Enter the image url:</h2>
      <input type="text" name="image_url">
      <h2>Enter the venue: </h2>
      <input type="text" name="venue">
      <br><br>
      <h2>Enter the Date:</h2>
      <p><input type="date" name="date"></p>
      <p>do you want to display this college on homepage:</p>
      <p><input type="checkbox" name="show" value='on'> Yes          <input type="checkbox" name="show" value='off'> no </p>
      <button type="action">Submit</button>
    </form>
  </body>
</html>
