<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <h1>Select the College</h1>
    <form class="" action="/fests" method="POST">
      <% for(i=0;i<All_college.length;i++){ %>
        <button type="action" name="button" value = <%=All_college[i].name%>> <%=All_college[i].name%></button>
      <%}%>
    </form>
  </body>
</html>
