<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Remove College</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <% for(i=0;i<All_college.length;i++){ %>
        <p><input type="checkbox" name="delete_college" value=<%=All_college[i]._id%>> <%=All_college[i].name%></p>
      <%}%>

      <h2>All selected College will be deleted</h2>
      <button type="action">Delete College</button>
    </form>
  </body>
</html>
